body{
    width:100%;
    background: rgb(63, 86, 216);
    color: white;
    font-family: 'Nunito', sans-serif;
}

.header{
    margin-top:20px;
    text-align:right;
    margin-right:50px;
}

.button{
    background: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin:10px;
}

.form{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
    background-color:blue;
    margin-top:50px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.form1{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 30px;
    background-color:blue;
    margin-top:50px;
    border-radius: 5px;
    margin-bottom: 50px; 
}


input[type="text"],
input[type="email"],
input[type="password"]{
    width:100%;
    height: 30px;
    margin-bottom: 10px;
    margin-top:5px;
    border-radius: 5px;
    padding-left:5px;
}

#submit1{
    width:100px;
    height: 30px;
    margin-bottom: 10px;
    margin-top:5px;
    border-radius: 5px;
    padding-left:5px;
}

#submit2{
    width:50%;
    margin-left: 25%;
    margin-right: 0 auto;
    height: 30px;
    margin-bottom: 10px;
    margin-top:20px;
    border-radius: 5px;
    padding-left:5px;

}

.pass{
    text-align: center;
    text-decoration: none;
    color: white;
}


.fi{
    margin-top:10px;
    margin-bottom: 10px;
}

.head{
    text-align: center;
}

.foot{
    text-align: center;
}